## INFO834 TP2

In [5]:
import pandas as pd

In [6]:

file_path_1 = './data/academies_virgule.csv'

file_path_2 = './data/villes_virgule.csv'

dfAcademies = pd.read_csv(file_path_1)
dfVilles = pd.read_csv(file_path_2)

print(dfAcademies)
print(dfVilles)

                         academie                              wikipedia  \
0                Académie de Lyon        fr:Académie de Lyon (éducation)
1               Académie d'Amiens       fr:Académie d'Amiens (éducation)
2    Académie de Clermont-Ferrand        fr:Académie de Clermont-Ferrand
3        Académie d'Aix-Marseille            fr:Académie d'Aix-Marseille
4        Académie d'Aix-Marseille            fr:Académie d'Aix-Marseille
..                            ...                                    ...
96         Académie de Versailles  fr:Académie de Versailles (éducation)
97      Académie de la Guadeloupe           fr:Académie de la Guadeloupe
98      Académie de la Martinique           fr:Académie de la Martinique
99             Académie de Guyane               fr:Académie de la Guyane
100        Académie de la Réunion              fr:Académie de La Réunion

    vacances  dep              departement                       region
0     Zone A   01                      Ain         Auvergne-Rhône-Alpes
1     Zone B   02                    Aisne  Nord-Pas-de-Calais-Picardie
2     Zone A   03                   Allier         Auvergne-Rhône-Alpes
3     Zone B   04  Alpes-de-Haute-Provence   Provence-Alpes-Côte d'Azur
4     Zone B   05             Hautes-Alpes   Provence-Alpes-Côte d'Azur
..       ...  ...                      ...                          ...
96    Zone C   95               Val-d'Oise                Île-de-France
97       NaN  971               Guadeloupe                   Guadeloupe
98       NaN  972               Martinique                   Martinique
99       NaN  973                   Guyane                       Guyane
100      NaN  974               La Réunion                   La Réunion

[101 rows x 6 columns]
       dep                       nom     cp  nb_hab_2010  nb_hab_1999  \
0        1                      Ozan   1190          618          469
1        1     Cormoranche-sur-Saône   1290         1058          903
2        1                    Plagne   1130          129           83
3        1                   Tossiat   1250         1406         1111
4        1                  Pouillat   1250           88           58
...    ...                       ...    ...          ...          ...
36695  976                      Sada  97640        10195        10195
36696  976                  Tsingoni  97680        10454        10454
36697  971          Saint-Barthélemy  97133         8938         8938
36698  971              Saint-Martin  97150        36979        36979
36699  975  Saint-Pierre-et-Miquelon  97500         6080         6080

       nb_hab_2012  dens    surf      long       lat  alt_min  alt_max
0              500    93    6.60   4.91667  46.38330    170.0    205.0
1             1000   107    9.85   4.83333  46.23330    168.0    211.0
2              100    20    6.20   5.73333  46.18330    560.0    922.0
3             1400   138   10.17   5.31667  46.13330    244.0    501.0
4              100    14    6.23   5.43333  46.33330    333.0    770.0
...            ...   ...     ...       ...       ...      ...      ...
36695        10195   933   10.92  45.10470 -12.84860      NaN      NaN
36696        10454   300   34.76  45.10700 -12.78970      NaN      NaN
36697         8938   372   24.00 -62.83330  17.91670      NaN      NaN
36698        36979   695   53.20  18.09130 -63.08290      NaN      NaN
36699         6080    25  242.00  46.71070   1.71819      NaN      NaN

[36700 rows x 12 columns]