## INFO834 TP2

In [88]:
import pandas as pd
import pyarrow as pa
import pyarrow.parquet as pq

In [89]:

file_path_1 = './data/academies_virgule.csv'

file_path_2 = './data/villes_virgule.csv'

dfAcademies = pd.read_csv(file_path_1)
dfVilles = pd.read_csv(file_path_2)

print(dfAcademies)
print(dfVilles)

                         academie                              wikipedia  \
0                Académie de Lyon        fr:Académie de Lyon (éducation)
1               Académie d'Amiens       fr:Académie d'Amiens (éducation)
2    Académie de Clermont-Ferrand        fr:Académie de Clermont-Ferrand
3        Académie d'Aix-Marseille            fr:Académie d'Aix-Marseille
4        Académie d'Aix-Marseille            fr:Académie d'Aix-Marseille
..                            ...                                    ...
96         Académie de Versailles  fr:Académie de Versailles (éducation)
97      Académie de la Guadeloupe           fr:Académie de la Guadeloupe
98      Académie de la Martinique           fr:Académie de la Martinique
99             Académie de Guyane               fr:Académie de la Guyane
100        Académie de la Réunion              fr:Académie de La Réunion

    vacances  dep              departement                       region
0     Zone A   01                      Ain         Auvergne-Rhône-Alpes
1     Zone B   02                    Aisne  Nord-Pas-de-Calais-Picardie
2     Zone A   03                   Allier         Auvergne-Rhône-Alpes
3     Zone B   04  Alpes-de-Haute-Provence   Provence-Alpes-Côte d'Azur
4     Zone B   05             Hautes-Alpes   Provence-Alpes-Côte d'Azur
..       ...  ...                      ...                          ...
96    Zone C   95               Val-d'Oise                Île-de-France
97       NaN  971               Guadeloupe                   Guadeloupe
98       NaN  972               Martinique                   Martinique
99       NaN  973                   Guyane                       Guyane
100      NaN  974               La Réunion                   La Réunion

[101 rows x 6 columns]
       dep                       nom     cp  nb_hab_2010  nb_hab_1999  \
0        1                      Ozan   1190          618          469
1        1     Cormoranche-sur-Saône   1290         1058          903
2        1                    Plagne   1130          129           83
3        1                   Tossiat   1250         1406         1111
4        1                  Pouillat   1250           88           58
...    ...                       ...    ...          ...          ...
36695  976                      Sada  97640        10195        10195
36696  976                  Tsingoni  97680        10454        10454
36697  971          Saint-Barthélemy  97133         8938         8938
36698  971              Saint-Martin  97150        36979        36979
36699  975  Saint-Pierre-et-Miquelon  97500         6080         6080

       nb_hab_2012  dens    surf      long       lat  alt_min  alt_max
0              500    93    6.60   4.91667  46.38330    170.0    205.0
1             1000   107    9.85   4.83333  46.23330    168.0    211.0
2              100    20    6.20   5.73333  46.18330    560.0    922.0
3             1400   138   10.17   5.31667  46.13330    244.0    501.0
4              100    14    6.23   5.43333  46.33330    333.0    770.0
...            ...   ...     ...       ...       ...      ...      ...
36695        10195   933   10.92  45.10470 -12.84860      NaN      NaN
36696        10454   300   34.76  45.10700 -12.78970      NaN      NaN
36697         8938   372   24.00 -62.83330  17.91670      NaN      NaN
36698        36979   695   53.20  18.09130 -63.08290      NaN      NaN
36699         6080    25  242.00  46.71070   1.71819      NaN      NaN

[36700 rows x 12 columns]

### Question 1) 
 Quatre fonctions qui permettent de convertir les données données en paramètre d'un format vers l'autre
(en lecture et écriture) : dataframe < - > table, table < - > fichier parquet. Tester sur les données des villes
et académies.

In [90]:
tableAcademies =  pa.Table.from_pandas(dfAcademies)
tableVilles =  pa.Table.from_pandas(dfVilles)

In [91]:
print(tableAcademies)
print(tableVilles)

pyarrow.Table
academie: string
wikipedia: string
vacances: string
dep: string
departement: string
region: string
----
academie: [["Académie de Lyon","Académie d'Amiens","Académie de Clermont-Ferrand","Académie d'Aix-Marseille","Académie d'Aix-Marseille",...,"Académie de Versailles","Académie de la Guadeloupe","Académie de la Martinique","Académie de Guyane","Académie de la Réunion"]]
wikipedia: [["fr:Académie de Lyon (éducation)","fr:Académie d'Amiens (éducation)","fr:Académie de Clermont-Ferrand","fr:Académie d'Aix-Marseille","fr:Académie d'Aix-Marseille",...,"fr:Académie de Versailles (éducation)","fr:Académie de la Guadeloupe","fr:Académie de la Martinique","fr:Académie de la Guyane","fr:Académie de La Réunion"]]
vacances: [["Zone A","Zone B","Zone A","Zone B","Zone B",...,"Zone C",null,null,null,null]]
dep: [["01","02","03","04","05",...,"95","971","972","973","974"]]
departement: [["Ain","Aisne","Allier","Alpes-de-Haute-Provence","Hautes-Alpes",...,"Val-d'Oise","Guadeloupe","Martinique","Guyane","La Réunion"]]
region: [["Auvergne-Rhône-Alpes","Nord-Pas-de-Calais-Picardie","Auvergne-Rhône-Alpes","Provence-Alpes-Côte d'Azur","Provence-Alpes-Côte d'Azur",...,"Île-de-France","Guadeloupe","Martinique","Guyane","La Réunion"]]
pyarrow.Table
dep: string
nom: string
cp: string
nb_hab_2010: int64
nb_hab_1999: int64
nb_hab_2012: int64
dens: int64
surf: double
long: double
lat: double
alt_min: double
alt_max: double
----
dep: [["1","1","1","1","1",...,"976","976","971","971","975"]]
nom: [["Ozan","Cormoranche-sur-Saône","Plagne","Tossiat","Pouillat",...,"Sada","Tsingoni","Saint-Barthélemy","Saint-Martin","Saint-Pierre-et-Miquelon"]]
cp: [["1190","1290","1130","1250","1250",...,"97640","97680","97133","97150","97500"]]
nb_hab_2010: [[618,1058,129,1406,88,...,10195,10454,8938,36979,6080]]
nb_hab_1999: [[469,903,83,1111,58,...,10195,10454,8938,36979,6080]]
nb_hab_2012: [[500,1000,100,1400,100,...,10195,10454,8938,36979,6080]]
dens: [[93,107,20,138,14,...,933,300,372,695,25]]
surf: [[6.6,9.85,6.2,10.17,6.23,...,10.92,34.76,24,53.2,242]]
long: [[4.91667,4.83333,5.73333,5.31667,5.43333,...,45.1047,45.107,-62.8333,18.0913,46.7107]]
lat: [[46.3833,46.2333,46.1833,46.1333,46.3333,...,-12.8486,-12.7897,17.9167,-63.0829,1.71819]]
...

In [92]:
pq.write_table(tableAcademies, "./parquet/question1.parquet")

### Question 2) 
 Une fonction qui permet d’afficher le schéma d'une table. Tester sur les données villes et académies.

In [93]:
print(tableAcademies.schema)
print(tableVilles.schema)

academie: string
wikipedia: string
vacances: string
dep: string
departement: string
region: string
-- schema metadata --
pandas: '{"index_columns": [{"kind": "range", "name": null, "start": 0, "' + 951
dep: string
nom: string
cp: string
nb_hab_2010: int64
nb_hab_1999: int64
nb_hab_2012: int64
dens: int64
surf: double
long: double
lat: double
alt_min: double
alt_max: double
-- schema metadata --
pandas: '{"index_columns": [{"kind": "range", "name": null, "start": 0, "' + 1596

### Question 3) 
 Une fonction qui renvoie la colonne col d'une table donnée en paramètre (fonction column() ou select()).

In [94]:
def column(table, columnName):
    return pd.DataFrame(table[columnName])

column(tableAcademies, "wikipedia")

                                         0
0          fr:Académie de Lyon (éducation)
1         fr:Académie d'Amiens (éducation)
2          fr:Académie de Clermont-Ferrand
3              fr:Académie d'Aix-Marseille
4              fr:Académie d'Aix-Marseille
..                                     ...
96   fr:Académie de Versailles (éducation)
97            fr:Académie de la Guadeloupe
98            fr:Académie de la Martinique
99                fr:Académie de la Guyane
100              fr:Académie de La Réunion

[101 rows x 1 columns]

### Question 4) 
En utilisant les fonctions compute de pyarrow, des fonctions qui renvoient des statistiques sur une
colonne de table : count, count_distinct, sum, min, max. Tester sur des colonnes de la table des villes.

### Question 5)
Filtrage et tri : des fonctions pour sélectionner les informations sur une ville (e.g. Annecy) et pour
sélectionner les informations sur un département (e.g. Haute-Savoie) par ordre alphabétique des villes
(fonction filter et sort).

### Question 6)
Calculs sur plusieurs colonnes et agrégats : calcul du nombre moyen d'habitants en 2012 ; calcul du
nombre moyen d'habitants par département ; afficher le résultat pour le département 74 (fonction
TableGroupBy).

### Question 7)
Opérations ensemblistes jointures : afficher les zones de vacances des villes ; les villes de la zone de
vacances A ; les départements des zones de vacances A et B ; le nombre de villes par académie ;

### Question 8)
Affichage avec matplotlib : e.g. histogramme de la distribution du nombre de villes par académie.